<div class="example-container mat-elevation-z8">
  <mat-form-field>
    <mat-label>Search asset</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search">
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="assetId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Asset Id</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.assetId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="assetName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Asset Name</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon> directions_boat</mat-icon>
        <span>&nbsp;</span>{{element.assetName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
      <!--    <td mat-cell *matCellDef="let element"> {{element.status}}</td>-->
      <mat-cell *matCellDef="let element">
        <mat-spinner style="margin-right: 10px" color="accent" *ngIf="true" diameter="2

          love
          0"></mat-spinner>
        <mat-slide-toggle color="accent" (ngModelChange)="changeAssetStatus($event , element)"
                          [(ngModel)]="element.status">{{element.status ? 'Active' : 'Inactive'}}</mat-slide-toggle>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[7, 10, 25, 50]" [pageSize]="7"></mat-paginator>

</div>
