
<div class="example-container mat-elevation-z8">
  <button style="position: absolute;top: 10px;right: 0;min-width: 10%" mat-raised-button color="primary" (click)="ngOnInit()">
    <mat-icon  color="accent">refresh</mat-icon> Refresh Table</button>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="parentAssetId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Asset Id</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.parentAssetId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="assetName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Asset Name</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.assetName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="maintenanceStartTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.maintenanceStartTime | date: 'MM-dd-yyyy'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="maintenanceStopTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> End Date</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.maintenanceStopTime | date: 'MM-dd-yyyy'}} </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="state">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
      <mat-cell style="color: green" *matCellDef="let element">
        {{element.state}}
      </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button  (click)="deleteMaintenance(element)" mat-icon-button >
          <mat-icon color="accent">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[7, 10, 25, 50]" [pageSize]="7"></mat-paginator>
</div>
