<mat-tab-group dynamicHeight>
  <mat-tab label="First">
    <ng-template mat-tab-label>
      <mat-icon style="margin-right: 8px">calendar_today</mat-icon>
      View Upcoming Maintenances
    </ng-template>
    <app-schedule-maintenance-view-all></app-schedule-maintenance-view-all>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="margin-right: 8px">schedule</mat-icon>
      Create new Schedule
    </ng-template>
    <app-schedule-maintenance-add-new></app-schedule-maintenance-add-new>
  </mat-tab>
</mat-tab-group>






